{% extends '@!EasyAdmin/page/login.html.twig' %}

{% block wrapper_wrapper %}
    <div class="login-wrapper">
        <p>An email has been sent that contains a link that you can click to reset your password. This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
        <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
    </div>
{% endblock %}
